/* start helt i toppen */
html, body { height: 100%; }
body { margin: 0; }

.top {
  position: relative;
  background: linear-gradient(45deg,rgba(2, 0, 36, 1) 0%, rgba(2, 26, 71, 1) 35%, rgba(49, 119, 232, 1) 100%);  /* toppfarge */
  
  padding: 40px 20px 60px; /* ekstra bunn-padding så bølgen får plass */
  text-align: center;
  overflow: hidden;        /* klipp alt som stikker utenfor */
}

.top .wave {
  position: absolute;
  left: 0;
  bottom: -1px;   /* lille minus for å unngå hårfin linje */
  width: 100%;
  height: 60px;  /* juster bølgehøyde */
  display: block;
  line-height: 0;
}

.bottom {
  background: #ffffff;     /* MÅ matche path fill */
  padding: 140px 20px 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.page-title {
    margin: 0;
    padding-left: 40px;
}

/*dashboard main buttons*/
.dashboard-btn {
  position: relative;
  width: 160px;
  height: 160px;
  
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6);
}

.dashboard-btn:hover {
  background-color: #357ab8;
}

.dashboard-btn img {
    width: 94px;
    height: 94px;
    align-self: flex-end;
}

/*text inside dashboard main buttons*/
.dashboard-btn p {
    margin: 0;
    padding-top: 10px;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}

/*splits left and right over the wave*/
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
}

.left {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*notification bell button css*/
.right {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}


/* text on top left section*/
.welcome-text {
  font-size: 0.9rem;   /* mindre skrift */
  font-weight: 400;    /* litt lettere */
  margin: 0;           /* fjern standard marger */
  opacity: 0.8;        /* litt lysere om du vil */
  
}

.app-title {
  font-size: 2rem;     /* større hovedtittel */
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}